:root {
  --blue-200: #80C2FF;
  --blue-300: #6671D4B2;
  --blue-500: #3E49B9CC;
  --blue-600: #3E49B9;
  --blue-700: #010671;
  --blue-800: #212752;
  --blue-900: #232434;
  --red-500: #A34242;
  --red-600:#AF2328;
  --green-600: #A8E442;
  --brown-600: #3B2716;
  --yellow-100: #F7F3D6;
  --white: #FFFFFF;
  --dark: #000000;
}
